<style type="text/css">
  .TabPanel ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 -1px 0;
    height: 100%;
    font-size: 14px;
    border-left: 1px solid #888888;

  }

  .TabPanel ul li {
    float: left;
    margin: 0;
    padding: 5px;
    background-color: #dbdbdb;
    color: #888888;
    border-top: 1px solid #888888;
    border-right: 1px solid #888888;
    border-bottom: 1px solid #888888;
  }

  .TabPanel ul li.active {
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;

  }

  .TabPanel ul li a, .TabPanel ul li a:visited {
    color: #888888
  }
</style>


<div class="TabPanel">
  <ul>
    <% tabs.each do |tab|
  	  tab_class = ""   
	  tab_class = "active" if tab.name == @current_child_id
    %>
    <li class="<%= tab_class %>">
      <%- if @cell.responds_to_url_change? %>
      	<%= link_to_function tab.title, update_url(@cell.url_fragment_for_tab(tab)) %>
      <%- else %>
		<%= link_to_event tab.title, {:type => :switchChild, @cell.param_name => tab.name} %>
      <% end %>
    </li>
    <% end -%>
    
    <div style="clear: both;" />
  </ul>
</div>
<div style="clear: both;"></div>

<%= rendered_children.first %>
