<style type="text/css">
  .TabPanel ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 -1px 0;
    height: 100%;
    font-size: 14px;
    border-left: 1px solid #888888;

  }

  .TabPanel ul li {
    float: left;
    margin: 0;
    padding: 5px;
    background-color: #f2f2f2;
    color: #888888;
    border-top: 1px solid #888888;
    border-right: 1px solid #888888;
    border-bottom: 1px solid #888888;
  }

  .TabPanel ul li.active {
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;

  }

  .TabPanel ul li a, .TabPanel ul li a:visited {
    color: #888888
  }
</style>


<div class="TabPanel">
  <ul>
    <% @tabs.each do |tab|      
          html_opts = {}
          html_opts[:class] = 'active' if tab.first == @current_child_title
          html_opts[:title] = tab.first || tab.first
          tab_class = (tab.first == @current_child_title) ? "active" : ""
    %>
    <li class="<%= tab_class %>">
      <%### TODO: let the user switch between these two approaches (site reload<->AJAX). %>
      <%# = link_to_widget tab.first, tab.last %>
      <%= link_to_event tab.first, {:type => :switchChild}.merge!(tab[1]) %>
    </li>
    <% end -%>
    
    <div style="clear: both;" />
  </ul>
</div>
<div style="clear: both;"></div>

<%= @rendered_children.collect{|e| e.last}.join("") %>
